flows/nRetail__CreditRequestPreprocessing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This flow references one or more credit integrations to initiate and complete the credit report process during the loan application process.</description>
        <name>Add_Request_Parameters</name>
        <label>Add Request Parameters</label>
        <locationX>159</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>RequestAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PluginNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PluginName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isHardRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Credit_Report_List</name>
        <label>Add To Credit Report List</label>
        <locationX>645</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TransactionLogIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransactionLogId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PluginName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_Credit_Report</name>
        <label>Check For Credit Report</label>
        <locationX>375</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>Add_Request_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Report Not Found</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Credit_Report_List</targetReference>
            </connector>
            <label>Credit Report Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Force_Refresh</name>
        <label>Check Force Refresh</label>
        <locationX>377</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_Credit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Not Force Refresh</defaultConnectorLabel>
        <rules>
            <name>is_Force_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForceRefresh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Request_Parameters</targetReference>
            </connector>
            <label>is Force Refresh</label>
        </rules>
    </decisions>
    <interviewLabel>Credit Request Preprocessing {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Credit Request Preprocessing</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>394</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>AccountId</assignNextValueToReference>
        <collectionReference>AccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Force_Refresh</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Loop_Through_Accounts</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Valid_Credit_Report</name>
        <label>Get Valid Credit Report</label>
        <locationX>387</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Check_For_Credit_Report</targetReference>
        </connector>
        <flowName>nRetail__GetValidCreditReport</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TransactionLogId</assignToReference>
            <name>ValidReportId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ForceRefresh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isHardRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PluginNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
